body{
	
	/*overflow: hidden;*/
}

.triangle {
	position: absolute;
	bottom: 0px;
	left:0;
	width: 0;
	height: 0;
	border-top: 600px solid transparent;
	border-left: 1920px solid rgba(242, 242, 242, 0.81);
}


#login-card {
	position:absolute;
	bottom: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}

.twitter-login {
	background-image: url("../Images/tw.png");
	background-color: #ededed;
	background-repeat: no-repeat;
	background-size: cover;
	
}



.centered {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.item{
	padding: 12px;
}

/* TWEET CARDS */
.card-fab {
	position: absolute;
	right: 0;
	top:25px;
	transform: translateX(40%);
}

.card-fab.second {
	top: 75px;
}

.card-fab.third {
	top: 125px;
}

.card-fab.fourth {
	top: 175px;
}

/* /TWEET CARDS */

.margin-top {
	margin-top: 16px;
}


/*	ANIMATION */
.scrollcurtain {
	transition: all linear 0.5s;
	height: auto;
}

.ng-hide {
  height: 0;
}

/*	/ANIMATION*/
