body{
	
	/*overflow: hidden;*/
}

.triangle {
	position: absolute;
	bottom: 0px;
	left:0;
	width: 0;
	height: 0;
	border-top: 600px solid transparent;
	border-left: 1920px solid rgba(242, 242, 242, 0.81);
}


#login-card {
	position:absolute;
	bottom: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}

.twitter-login {
	background-image: url("../Images/tw.png");
	background-color: #ededed;
	background-repeat: no-repeat;
	background-size: cover;
	
}



.menu {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	
}

.item{
	padding: 12px;
}


