.custom {
	max-height: 250px;
}

.card-wrapper {
	margin: 8px;
	padding: 8px;
}

.card-img {
	height: auto;
	width: 100%;
}


.card-fab {
	position: absolute;
	right: 0;
	top:25px;
	transform: translateX(40%);
}

.card-fab.second {
	top: 75px;
}

.card-fab.third {
	top: 125px;
}

.uppercase {
	text-transform: uppercase
}


