<div ng-controller="frontpageController">
	
	<h2>FRONT PAGE asd</h2>
	
	<div class="row" timeline-directive>
	    <!-- ng-repeat for each tweet in the timeline -->
		<div ng-repeat="tweet in timeline track by $index" repeat-directive>
			<div ng-controller="cardController">
				<div class="col s12 m6 center" >
					<div class="card" >
						<div class="card-image">
							<img src=" {{ tweet.media || '' }} ">
							<span class="card-title">{{ tweet.user.name || tweet.user.screen_name || ''  }}</span>
							<a class="btn-floating btn-medium waves-effect waves-light card-fab tooltipped" data-position="right" data-tooltip="Like" data-delay="50"><i class="material-icons">favorite</i></a>
							<span class="btn-floating btn-medium waves-effect waves-light card-fab second tooltipped" data-position="right" data-tooltip="Retweet" data-delay="50"><i class="material-icons">sync</i></span>
							<span class="btn-floating btn-medium waves-effect waves-light card-fab third tooltipped" data-position="right" data-tooltip="Comment" data-delay="50"><i class="material-icons">comment</i></span>
							<a class="btn-floating btn-medium waves-effect waves-light card-fab fourth tooltipped" data-position="right" data-tooltip="More" data-delay="50" ng-click="hideMoreInformation = !hideMoreInformation"><i class="material-icons">info_outline</i></a>
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<p>{{ tweet.text }}</p>
							</div>
							<div class="card-action">
								<div class="row">
									<div class="col s6">
										Favorites: {{ tweet.favourite_count }}
									</div>
									<div class="col s6">
										Retweets: {{ tweet.retweet_count }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m6 scrollcurtain" ng-hide="hideMoreInformation">
					<p class="flow-text">HELLO HERE WE HAVE MORE INFORMATION, HELLO HERE WE HAVE MORE INFORMATION, HELLO HERE WE HAVE MORE INFORMATION, HELLO HERE WE HAVE MORE INFORMATION</p>
				</div>
			</div>
		</div><!-- /ng-repeat-->
	</div>
	
	<button class="btn waves-effect waves-light" ng-click="getTimeline()">Get some data!</button>
</div>






