<div ng-controller="menuController as menuController" class="">
	<!-- Slide drawer -
	<ul id="slide-out" class="side-nav deep-purple darken-3 menu">
		<li>
			<div class="userView">
				<div class="background">
				</div>
				<a ui-sref="main.profile"><i class="large material-icons">perm_identity</i></a>
			</div>
		</li>
		<li class="item">
			<a ui-sref="main.frontpage" class="waves-effect">
				<i class="medium material-icons">web</i>
			</a>
		</li>
		<li class="item">
			<a ui-sref="main.about" class="waves-effect">
				<i class="medium material-icons">view_module</i>
			</a>
		</li>
		<li class="item">
			<a ui-sref="#" class="waves-effect">
				<i class="medium material-icons">refresh</i>
			</a>
		</li>
		<li class="item">
			<a ui-sref="#" class="waves-effect">
				<i class="medium material-icons">more_vert</i>
			</a>
		</li>

		<li><div class="divider"></div></li>
		<li><a class="subheader">Subheader</a></li>
		<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
	</ul>
	
	<a href="#" ng-controller="menuController" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
	-->
	
	<!-- navigation bar -->
	<nav class="nav-extended">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">TwittR</a>
     
      <ul id="nav" class="right">
        <li><a class="flow-text" ui-sref="main.profile"><i class="material-icons right">perm_identity</i> {{ menuController.username }}</a></li>
      </ul>
      
      <ul class="tabs tabs-transparent">
        <li class="tab">
        	<a class="tooltipped" data-position="bottom" data-tooltip="Go to timeline" data-delay="50" ui-sref="main.frontpage">TIMELINE</a>
				</li>
        <li class="tab">
        	<a class="tooltipped" data-position="bottom" data-tooltip="Go to about" data-delay="50" ui-sref="main.about">ABOUT</a>
				</li>
        <li class="tab disabled">
        	<a class="tooltipped" data-position="bottom" data-tooltip="Go to about" data-delay="50" ui-sref="#">DSA</a>
				</li>
      </ul>
    </div>
  </nav>
</div>


<!-- nestled main content -->
<div class="">
	<div ui-view></div>
</div>







<!-- Tweet Floating action button 
====================================================================-->
<div class="fixed-action-btn" ng-controller="tweetFabController as ctrl">
	<a class="btn-floating btn-large lime accent-3" ng-click="ctrl.openTweetModal()">
		<i class="large material-icons icon-dark tooltipped" data-position="top" data-tooltip="Tweet" data-delay="50">mode_edit</i>
	</a>
	
	<!--
	<ul>
		<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
		<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
		<li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
		<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
	</ul>
	-->
</div>

<!-- Modal for tweet 
=================================================================== -->
<div id="tweetModal" class="modal" ng-controller="tweetController as tweetController">
	<div class="modal-content container">
		<span class="btn-flat waves-effect waves-green right " ng-click="tweetController.clear()">Clear</span>
		<h4 class="center">NEW TWEET</h4>
		
			<div class="row">
				<div id="modalImageArea col s12" ng-show="tweetController.image">
					
					<!-- file uploader for when no image has been selected -->
					<div>
						<form id="imageForm" name="imageForm">
							<div class="btn" ngf-select ng-model="tweetController.imageFile" name="imageFile" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-resize="{width: 300, height:300}">SELECT IMAGE</div>
							<div class="btn" ng-click="tweetController.uploadImage(tweetController.imageFile)">UPLOAD AND USE IMAGE</div>
						</form>
						
						<!-- image thumbnail -->
						<img class="col s12" ngf-thumbnail="tweetController.imageFile || tweetController.thumb" alt="Thumbnail">
					</div><!-- /fileUploader -->
					
				</div>
				<form novalidate action="">
					<div class="row">
						<div class="col s12">
							<textarea class="modal-text-area" placeholder="Enter tweet text" required ng-model="tweetController.tweet.tweetText"></textarea>
						</div>

						<a id="showImageBtn" class="btn-floating small tooltipped right" data-position="left" data-tooltip="Add image" data-delay="50" ng-click="tweetController.showImageArea()">
							<i class="material-icons">add</i>
						</a>
					</div>

					<div class="modal-footer">
						<p ng-show="tweetController.image">Remember to upload image if they should be included in this tweet</p>
						<a href="" class="waves-effect waves-green btn-flat" ng-click="tweetController.post()">POST</a>
						<a href="" class="modal-action modal-close waves-effect waves-green btn-flat">DISCARD</a>
					</div>
				</form>
		</div>
	</div>
</div>








