<section ng-controller="profileController as profileController" class="">
	<!--<p>{{ userData }}</p> -->
	<!-- parallax header -->
	<div class="parallax-container">
   	<div class="section">
   		<div class="container">
   			<div class="row center">
   				<br>
   				<br>
   				<br>
   				<br>
   				<br>
   				<br>
   				<br>
   				<br>
   				<br>
   				<br>
   				<br>
   				<br>
   				<br>
   				<br>
   				
					<h1 class="header teal-text col s12">
						{{ profileController.userData.screen_name }}
					</h1>
					<div class="flow-text white-text col s12">
						Welcome to your profile page
					</div>
					
				</div>
			</div>
   	</div>
   	<!-- parallax image -->
    <div class="parallax">
    	<img src="images/railroadbg.jpg">
    </div>
    
  </div>
  
	<div class="section intro container">
		<div class="row">
			<div class="col s12 m4">
				<div class="card">

					<div class="card-content">
						<img src="{{ profileController.userData.profile_image_url }}" alt="profile image">
						<span class="flow-text">{{ profileController.userData.screen_name }}</span>
						<p>Followers: {{ profileController.userData.followers_count }}</p>
						<p>Friends: {{ profileController.userData.friends_count }}</p>
						<p>Favorited: {{ profileController.userData.favourites_count }}</p>
						<p>Statuses: {{ profileController.userData.statuses_count }}</p>
						<p>Since: {{ profileController.userData.created_at | customDateFormatter }}</p>
					</div>
				</div>
			</div>

			<div class="col s12 m6 offset-m2 center">
				<div class="card" ng-controller="cardController">
					<div class="card-image">
						<img class="responsive-img" ng-if="profileController.userData.status.entities.media[0].media_url !== undefined" src="{{ profileController.userData.status.entities.media[0].media_url || '' }}" >
						<!--<a class="btn-floating btn-medium waves-effect waves-light card-fab tooltipped teal " data-position="right" data-tooltip="Like" data-delay="50"><i class="material-icons">favorite</i></a>
						<a class="btn-floating btn-medium waves-effect waves-light card-fab second tooltipped indigo" data-position="right" data-tooltip="Retweet" data-delay="50"><i class="material-icons">sync</i></a>-->
						<!--<a class="btn-floating btn-medium waves-effect waves-light card-fab third tooltipped deep-purple" data-position="right" data-tooltip="Comment" data-delay="50"><i class="material-icons">comment</i></a>-->
					</div>
					<div class="card-stacked">
						<span class="card-title black-text">{{ profileController.userData.name || profileController.userData.screen_name || ''  }}</span>
						<div class="card-content">
							<p>{{ profileController.userData.status.text }}</p>
						</div>
						<div class="card-action">
							<div class="row">
								<div class="col s6">
									Favorites: {{ profileController.userData.status.favorite_count }}
								</div>
								<div class="col s6">
									Retweets: {{ profileController.userData.status.retweet_count }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			
		</div><!-- /row -->
		<!-- some use information about this user for this application -->
		<div class="section">
			<div class="row">
				<div class="col s12">
					<div class="flow-text center">
						Application usage information
					</div>

					<div class="col m4 s12">
						<div class="card center info-card">
							<div class="card-title">
								TIMES YOU LOGGED IN
							</div>
							<div class="card-content">
								4
							</div>
						</div>
					</div>

					<div class="col m4 s12">
						<div class="card center info-card">
							<div class="card-title">
								NUMBER OF TWITTER CALLS YOU HAVE MADE
							</div>
							<div class="card-content">
								4
							</div>
						</div>
					</div>

					<div class="col m4 s12">
						<div class="card center info-card">
							<div class="card-title">
								NUMBER OF USERS TOTAL
							</div>
							<div class="card-content">
								4
							</div>
						</div>
					</div>


				</div>
			</div>
		</div><!-- /information -->
	</div>
</section>